#home{
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 100px;
  transition: all 1s;
}


.name{

}

.info{

  &__content{
    width: 50vw;
    margin-top: 0px;
    margin-bottom: 0px;
    box-shadow: 0px 0px #c5c5c580;
    transition: height 1s, box-shadow 1s, margin-top 1s, margin-bottom 1s;
    overflow: hidden;
    height: 0px;


    &__text{
      font-family: sans-serif;
      font-size: 1.3vw;
      line-height: 28px;
      margin: 10px;
      padding: 10px;
      color: #777777;
    }
  }
}

.infoActive{
  box-shadow: -1px 1px 6px 1px #c5c5c580;
  height: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.work{

  &__content{
    display: flex;
    flex-direction: row;
    transition: height 1s;
    height: 0px;
    overflow: hidden;

    &__text{
      width: 40%;
      margin-top: 20px;
      display: flex;
      flex-direction: row;

      &__selected{
        font-family: sans-serif;
        font-size: 25px;
        font-weight: 600;
        margin-right: 5vw;
      }

      &__list{
        color: #777777;
        font-family: sans-serif;
        font-size: 18px;
      }

    }

    &__images{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60%;
      position: relative;

      &__item{
        width: 50%;
        position: absolute;
        opacity: 0;
        transition: all .2s;
      }
    }
  }
}

.listItem{
  font-family: sans-serif;
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  color: #bdbdbd;
  transition: all .5s;
}

.listItem:hover{
  color: #fc049c;
}

.workActive{
  height: 200px;
}

.contact{

  &__content{
    display: flex;
    flex-direction: column;
    height: 0px;
    transition: height 1s;
    overflow: hidden;

    &__item{
      font-family: sans-serif;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 10px;
      font-size: 20px;
      text-decoration: none;
      transition: all .2s;
    }

    &__item:hover{
      color: #fc049c;
    }

  }
}

.contactActive{
  height: 200px;
}



.titles{
  font-family: sans-serif;
  font-size: 50px;
  font-weight: 600;
}

.links{
  font-family: sans-serif;
  font-size: 50px;
  font-weight: 600;
  color: #bdbdbd;
  transition: .5s all;
}

.links:hover{
  color: #fc049c;
}

.displayImage{
  opacity: 1 !important;
}

/*
===================================
    MEDIA QUERIES
===================================
*/

@media (max-width: 1200px) {
  .infoActive{
    height: 250px;
    width: 600px;
  }

  .info__content__text{
    font-size: 18px;
  }

  .workActive{
    height: 250px;
  }

}

@media (max-width: 960px) {
  .work__content__text{
    flex-direction: column;
  }

  .work__content__text__list{
    margin-top: 10px;
  }

  // .workActive{
  //   height: 250px;
  // }

}

@media (max-width: 760px) {

  .infoActive{
    width: 80vw;
  }

  .info__content__text{
    font-size: 2.4vw;
  }

  #home{
    margin-left: 10px;
  }

  .workActive{
    height: 300px;
  }



}

@media (max-width: 560px) {
  .infoActive{
    width: 100%;
  }

  .info__content{
    width: 100%;
    margin-left: -10px;
  }

  .info__content__text{
    font-size: 3.3vw;
  }

  .work__content__images{
    display: none;
  }

}

@media (max-width: 480px) {


}
